.end {
  position: absolute;
  width: 1440px;
  height: 550px;
  left: 0px;
  top: 4050px;
  background: #245852;

  .alivio {
    position: absolute;
left: 14.32%;
right: 80.05%;
top: 25%;
bottom: 9.88%;

font-family: 'Avenir';
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 55px;
/* identical to box height */


color: #FFFFFF;

  }
  .why {
    position: absolute;
    left: 14.32%;
    right: 79.38%;
    top: 45%;
    bottom: 8.12%;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    /* identical to box height */
    
    
    color: #FFFFFF;
    
  }
  .solutions {

    position: absolute;
    left: 14.32%;
    right: 80.31%;
    top: 55%;
    bottom: 6.35%;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    /* identical to box height */
    
    
    color: #FFFFFF;
  }
  .comun {
    position: absolute;
    left: 14.32%;
    right: 78.96%;
    top: 65%;
    bottom: 4.59%;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    
    
    color: #FFFFFF;
    
  }
  .pricing {
    position: absolute;
    left: 14.32%;
    right: 81.72%;
    top: 75%;
    bottom: 2.82%;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
   
    
    
    color: #FFFFFF;
  }
}
